        #data td, th{
            min-width: 100px;
        }

        #data input[name="change_phone"]{
            width: 100px;
        }

        #dr {
            clear:both;
        }

        .nm {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }

        #all > *{
            margin: 0 auto;
        }

        #main_form {
            position:relative;
            top:20px;
            width:500px;
        }

        #main_table {
            width:80%;
        }

        #rd_bt {
            position:relative;
            left:40px;
            margin-bottom: 30px;
        }

        #main_form input[type="submit"] {
            margin-top: 20px;
        }

        #all_info {
            margin-left: 40px;
            margin-top: 20px;
        }


