<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>
  {% macro render_field(field) %}
  <div class='control-group'>
  {% if field.name == 'is_driver' %}
      <div class="controls">
      {{ field(**kwargs)|safe }} Я веду машину
  {% elif field.name == 'seats' %}
      <div class="controls">
      Могу взять {{ field(**kwargs)|safe }} человек с собой
  {% else %}
      {{ field.label }}
      <div class="controls">
      {{ field(**kwargs)|safe }}
  {% endif %}
  {% if field.errors %}
    {% for error in field.errors %}
      {% if error == 'Not a valid choice' %}
        <p style='display:none'>{{ error }}</p>
      {% elif error == 'Not a valid integer value' %}
         <p class="text-error" style='margin:0'>Введите число</p>
      {% else %}
      <p class="text-error" style='margin:0'>{{ error }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
      </div>
{% endmacro %}

{% macro render_change_field(field) %}
    {{ field(**kwargs)|safe }}
{% endmacro %}

</html>