<!DOCTYPE html>
<html>
<head>
    <title>Запись</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <script>

        function bootstrapLabel() {
            var mainForm = document.getElementById('main_form');
            var labels = mainForm.getElementsByTagName('label');
            for (var i in labels) {
                labels[i].className = 'control-label';
            }
            var labrad = mainForm.getElementsByTagName('li');
            for (var i in labrad) {
                labrad[i].getElementsByTagName('label')[0].className = 'radio';
            }

        }


        var counter = 0;


        function addContact(e) {
            if (counter == 0) {
                var target = e.target;
                if (target.tagName == 'DIV') target = target.parentElement;
                var f = target.getElementsByTagName('form')[0];
                var cur = target.getElementsByClassName('current')[0];
                cur.style.display = 'none';
                f.style.display = 'block';
                counter = 1;
                if (f.id == 'travel_form') {
                    selectTravel(cur.innerHTML.replace(/\s*/g, ''), f);
                }
            }
        }

        function selectTravel(cur, f) {
            var aim = cur == 'машина' ? 'car' : 'bus';
            var opt = f.getElementsByTagName('OPTION');
            for (var i in opt) {
                if (opt[i] != 2 && opt[i].value == aim) opt[i].selected = 1;
            }
        }

        function goToName(e) {
            var target = e.target;
            var name = target.innerHTML;
            location.href += '/' + name;
        }

        function driverCheck(f) {
            if (f.is_driver.checked) {f.seats.disabled = 0;}
            else {f.seats.disabled = 1; f.seats.value = '';}
        }

        function carCheck() {
            var is_driver = document.getElementById('is_driver');
            var car = document.getElementById('travel-1');
            var bus = document.getElementById('travel-0');
            if (car.checked) is_driver.disabled = 0;
            if (bus.checked) {
                is_driver.checked = 0;
                is_driver.disabled = 1;
                document.getElementById('seats').disabled = 1; document.getElementById('seats').value = '';
            }
        }

    </script>
</head>
<body onload='bootstrapLabel()'>
<div id='all'>
    <div id='main_form'>

        {% from "_formhelpers.html" import render_field %}
        <form class="form-horizontal" method=post autocomplete="off">
            {{ render_field(main_form.name) }}
            {{ render_field(main_form.mail) }}
            {{ render_field(main_form.phone) }}
            {{ render_field(main_form.travel, onclick="carCheck()") }}
            {{ render_field(main_form.comment) }}
            {{ render_field(main_form.is_driver, onclick="driverCheck(this.form)", disabled = 1) }}
            {{ render_field(main_form.seats, disabled = 1) }}
            <div class="controls"><input class="btn" type="submit" value="Записаться"></div>
        </form>

    </div>
    <br><br>

    <div style="margin-left:10%">
        на автобусе: <b>{{ total['bus'] }}</b><br>
        на машине: <b>{{ total['car'] }}</b><br>
    </div>
    <br>

    <div id="main_table">
        <table class="table table-condensed table-bordered" id='data'>
            <tr>
                <th>Имя</th>
                <th>Телефон</th>
                <th>E-mail</th>
                <th>Способ передвижения</th>
                <th>В машине осталось мест</th>
            </tr>
            {% for item in data %}
                {% if item['seats'] and item['seats'] > 0 %}
                    <tr class='success'>
                        {% else %}
                    <tr>
                {% endif %}
            <td class='nm' onclick="goToName(event)">{{ item['name'] }}</td>
            <td onclick="addContact(event)" title="Click to change">
                <div class="current">{% if item['phone'] %}{{ item['phone']}}{% endif %}</div>
                {% from "_formhelpers.html" import render_change_field %}
                <form class="form-inline" style="display:none;margin:0" method="POST" autocomplete="off">
                    {{ render_change_field(contacts_form.hidden_name, style="display:none", value=item['name']+'p') }}
                    {{ render_change_field(contacts_form.contact, value=item['phone']) }}
                    <input class="btn" type="submit" value="Принять">
                </form>

            </td>
            <td onclick="addContact(event)" title="Click to change">
                <div class="current">{% if item['email'] %}{{ item['email']}}{% endif %}</div>
                <form class="form-inline" style="display:none;margin:0" method="POST" autocomplete="off">
                    {{ render_change_field(contacts_form.hidden_name, style="display:none", value=item['name']+'m') }}
                    {{ render_change_field(contacts_form.contact, value=item['email']) }}
                    <input class="btn" type="submit" value="Принять">
                </form>

            </td>

            <td onclick="addContact(event)" title="Click to change">
            <div class="current">{% if item['travel'] == 'car' %}
                машина
            {% else %}
                автобус
            {% endif %}</div>
                {% from "_formhelpers.html" import render_change_travel_field %}
                <form id='travel_form' class="form-inline" style="display:none;margin:0" method="POST" autocomplete="off">
                    {{ render_change_field(travel_form.hidden_name, style="display:none", value=item['name']) }}
                    {{ travel_form.travel }}
                    <input class="btn" type="submit" value="Принять">
                </form>

            </td>
            {% if item['seats'] == None %}
                <td></td>
            {% else %}
                <td>{{ item['seats'] }}</td>
            {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>