<!DOCTYPE html>
<html>
<head>
    <title>Информация о человеке</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
</head>
<body>
<div id="all_info">
    {% if data %}
        <b>{{ data['name'] }}</b> едет на
        {% if data['travel'] == 'car' %}
            <b>машине</b>.<br>
        {% else %}
            <b>автобусе</b>.<br>
        {% endif %}

        {% if data['comment'] %}
            <br>
            "{{ data['comment'] }}"<br>
        {% endif %}

        {% if data['travel'] == 'car' %}
            {% if data['is_driver'] and data['seats'] != None %}
                {% if data['seats'] != 0 %}
                    Осталось  <b>{{ data['seats'] }}</b>
                    {% if data['seats'] == 1 %}
                        свободное место.
                    {% elif data['seats'] >= 5 %}
                        свободных мест.
                    {% else %}
                        свободных места.
                    {% endif %}
                {% endif %}
                <br>
            {% endif %}
            <br>
            {% if data['seats'] > 0 %}
                {% from "_formhelpers.html" import render_change_field %}
                <form class="form-inline" method="POST" autocomplete="off">
                    {{ render_change_field(enroll_form.name) }}
                    <input class="btn" type="submit" value="Записаться">
                </form>
            {% endif %}
            <br>
            {% if psng %}
            <b>В этой машине:</b>
            <ul id='pass'>
                {% for item in psng %}
                    <li><a href="/info/{{ item }}">{{ item }}</a>
                        {% if item == driver %}
                            - водитель
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
        <br>
        <br>
        <form method="POST">
            <input class='btn' name="delete" type="submit" value="Удалить запись об этом человеке">
        </form>
    {% endif %}
    <a class="btn btn-primary" href="/info"><b>Назад к таблице</b></a>
</div>
</body>
</html>